<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acme.jbp.sysmanager.mapper.SysroleMapper">

    <select id="findRoleByUserId" parameterType="java.lang.Long" resultType="com.acme.jbp.sysmanager.entity.Sysrole">
        select * from sysrole as r left join sys_user_role as sur on r.id = sur.roleid where sur.userid=#{userId}
    </select>
</mapper>